<link rel="stylesheet" href="/css/user_profile.css">
<img src="<%=user.avatar%>" alt="<%= user.name %>" width="100" height="100">



<% if(user.id == profile_user.id) {%>
<!-- if user matches then show the form  else show only profile info -->
    <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="update name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="update email" value="<%= profile_user.email%>" required>
        <input type="file" name="avatar" />
        <input type="submit"  value="Update">
    </form>
<% } else{ %>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
<% } %>


